.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #1e1e1e;
  min-height: 100vh;
  padding-top: 80px;
  color: #f3b6b6;
  box-sizing: border-box;
}


.title {
  font-size: 1.8rem;
  text-align: center;
  color: #f3b6b6;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-container {
  background-color: #2b2b2b;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  width: 500px;
  max-width: 90%;
  text-align: center;
}

.subtitle {
  background-color: #3a3a3a;
  color: #f3b6b6;
  padding: 10px 0;
  border-radius: 4px;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  font-size: 0.9rem;
  color: #f3b6b6;
  margin-bottom: 5px;
}

.form__input {
  width: 100%;
  padding: 10px;
  background-color: #4d0000;
  border: none;
  border-radius: 20px;
  color: white;
}

.form__input:focus {
  outline: none;
  border: 1px solid #ff625f;
}

.btn--primary {
  background-color: #4d0000;
  border: none;
  color: #f3b6b6;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--primary:hover {
  background-color: #ff625f;
  color: white;
}
